
<form class="js-add-cart" action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
  <div class="ctn-variants">
      {% assign has_stock = 0 %}
      {% if product.variants.size > 1 %}
      {% for variant in product.variants %}
      {% if variant.available %}
    <fieldset class="fieldset-var">
      <input class="{% unless variant.available %}disabled{% endunless %} js-variant-radio" type="radio" name="id" id="variant-{{ forloop.index }}" value="{{ variant.id }}" data-inventory-qty="{{ variant.inventory_quantity }}">
      <label for="variant-{{ forloop.index }}">{{ variant.title }}</label>
    </fieldset>  {% if variant.inventory_quantity != 0 %} {% assign has_stock = variant.inventory_quantity %} {% endif %}
      {% else %}
    <fieldset class="fieldset-var">
      <input class="disabled" type="radio" disabled="disabled">
      <label for="variant-{{ forloop.index }}">{{ variant.title }} </label>
    </fieldset>  {% endif %}
      {% endfor %}
      {% else %}
    <input type="hidden" name="id" value="{{ product.variants.first.id }}">  {% endif %}
  </div>
  <fieldset class="fieldset-qty"><span>Quantity</span><input class="js-qty-field" type="number" id="Quantity-{{ forloop.index }}" name="quantity" value="1" min="1" {% if product.variants.size == 1 %} max="{{ product.variants.first.inventory_quantity }}" {% endif %}>
    <button class="js-qty-btn disabled quantity-button minus" type="button" disabled="disabled">-</button><span class="quantity-text js-qty-text">1</span>
    <button class="js-qty-btn quantity-button plus" type="button">+</button>
  </fieldset>
  <div class="add-cart-btns">  {% if has_stock > 0 %}
    <div class="select-var recosem t-red red">Please select a size</div>
    <button class="{% if product.variants.size &gt; 1 %}disabled-add-cart{% endif %} btn-hover add-to-cart-btn" type="submit" name="add" id="add-to-cart-button"><span class="static">ADD TO BAG </span><span class="hover" data-hover="ADD TO BAG      ADD TO BAG      ADD TO BAG      ADD TO BAG      ">ADD TO BAG      ADD TO BAG      ADD TO BAG      ADD TO BAG      </span><svg class="loading" width="100%" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="17" cy="17" r="16.5" stroke="var(--dark)" pathLength="1"/></svg></button>   {% else %}
    <button class="sold-out btn-hover"><span class="static">SOLD OUT</span><span class="hover" data-hover="SOLD OUT      SOLD OUT      SOLD OUT      SOLD OUT      ">SOLD OUT      SOLD OUT      SOLD OUT      SOLD OUT      </span></button>   {% endif %}<a class="btn-wishlist btn-hover cream-v" href="{{ shop.url }}/pages/wishlist"><span class="static">WISHLIST</span><span class="hover" data-hover="WISHLIST      WISHLIST      ">WISHLIST      WISHLIST      </span></a>
  </div>
</form>