
  {% assign quantity_id = 'updates_' | append: item.key %}
  {% assign id = quantity_id %}
  {% assign value =  item.quantity %}
  {% assign min = 1 %}
  {% assign max = item.variant.inventory_quantity %}<a class="item-img" href="{{ item.url | within: collections.all }}"><img src="{{ item | img_url: 'master' }}" alt="{{ item.title | escape }}"></a><a class="item-title" href="{{ item.url }}">{{ item.product.title }}</a>
<p class="item-size">Size: <span class="recosemi">{{ item.variant.title }}</span></p>
<button class="item-remove" href="/cart/change?line={{ forloop.index }}&amp;amp;quantity=0" data-line="{{ forloop.index }}" data-id="{{ item.variant.id }}"><svg xmlns="http://www.w3.org/2000/svg" width="20px" viewBox="0 0 20 20"><g fill="none" stroke="var(--dark)"><circle cx="10" cy="10" r="10" stroke="none"/><circle cx="10" cy="10" r="9.5"/></g><path fill="var(--dark)" d="M14.218 6.736l-.823-.823-3.264 3.263-3.263-3.263-.823.823 3.263 3.263-3.263 3.264.823.823 3.263-3.264 3.263 3.263.823-.823-3.263-3.263z"/></svg></button>
<p class="item-price">{{ item.price | money }}</p>
<fieldset class="item-qty"><input class="js-qty-field" type="number" id="{{ id }}" data-id="{{ item.key }}" name="quantity" value="{{ value }}" min="{% if min != blank %}{{ min }}{% endif %}" max="{% if max != blank %}{{ max }}{% endif %}">
  <button class="{% if value == min %}disabled{% endif%} js-qty-btn js-qty-btn-minus quantity-button minus" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="7" height="1.5" viewBox="0 0 7 1.5"><g fill="#fff" stroke="var(--dark)" transform="rotate(-90 .75 .75)"><rect width="1.5" height="7" rx=".3" stroke="none"/><rect width=".5" height="6" x=".5" y=".5" fill="none" rx=".2"/></g></svg></button><span class="quantity-text js-qty-text">{{ value }}</span>
  <button class="{% if value == max %}disabled{% endif%} js-qty-btn js-qty-btn-plus quantity-button plus" type="button"> <svg xmlns="http://www.w3.org/2000/svg" id="Plus" width="7" height="7" viewBox="0 0 7 7"> <g fill="#var(--soft)" stroke="var(--dark)" transform="translate(2.75)"> <rect width="1.5" height="7" stroke="none" rx=".3"/> <rect width=".5" height="6" x=".5" y=".5" fill="none" rx=".2"/> </g> <g fill="#var(--soft)" stroke="var(--dark)" transform="translate(0 4.25) rotate(-90)"> <rect width="1.5" height="7" stroke="none" rx=".3"/> <rect width=".5" height="6" x=".5" y=".5" fill="none" rx=".2"/> </g></svg></button>
</fieldset>  {% if item.original_line_price != item.line_price %}
<p class="item-price-dis">{{ item.original_line_price | money }}</p>  {% endif %}
  {% for discount in item.discounts %}{{ discount.title }}{% endfor %}