
<div class="menu-blog">
  <div class="menu-blog__back">
    <button class="btn-hover cream-v trg-close-menublog"><span class="static">BACK</span><span class="hover" data-hover="BACK      BACK      BACK      BACK      BACK      BACK      ">BACK      BACK      BACK      BACK      BACK      BACK       </span></button>
  </div>
  <ul class="menu-blog__hold">
    <li class="menu-blog__each"><a href="{{ shop.url}}/blogs/{{ blog.handle }}" title="{{ blog.title }} tagged {{ tag | escape }}"> <span class="tag-name {% if current_tags.first == blank %}tag-active{% endif %}">ALL </span></a><span class="tag-counter {% if current_tags.first == blank %}tag-active{% endif %}">{{ blogs['news'].articles_count }}</span></li>  {% for tag in blog.all_tags %}
      {% assign count = 0 %} {% for article in blogs[blog.handle].articles %} {% if article.tags contains tag %} {% capture count %}{{ count | plus: 1 }}{% endcapture %} {% endif %} {% endfor %} 
    <li class="menu-blog__each"><a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title }} tagged {{ tag | escape }}"><span class="tag-name dharma {% if tag == current_tags.first %}tag-active{% endif %}">{{ tag }}</span></a><span class="tag-counter {% if tag == current_tags.first %}tag-active{% endif %}"> {{ count }}</span></li>  {% endfor %}
  </ul>
</div>