<a class="logo-main e-fixed" href="{{ shop.url }}"><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 125.365 17.001"><g id="Small_Logo" transform="translate(-25 -19.5)"><path id="Path_1073" d="M5.791 1.779L0 18.125h16.209l1.524-4.492H8.368l3.893-11.854z" class="cls-1" transform="translate(25 18.049)"/><path id="Path_1074" d="M134.961 18.125l2.7-8.1-6.624 5.814h-.116l-2.731-5.814-2.7 8.1h-6.653L122.8 6.53h-12.883l-.553 1.57h10.649l-1.307 3.947h-10.649l-.61 1.6h10.808l-1.482 4.483h-17.49l5.462-16.346h26.265l2.44 5.745 6.276-5.745h7.467l-5.462 16.346z" class="cls-1" transform="translate(-56.041 18.049)"/><path id="Path_1331" d="M380.26 16.3c-1.918 1.541-4.823 2.148-8.048 2.148-5.723 0-8.8-2.2-8.8-5.884a8.6 8.6 0 0 1 .436-2.639l2.333-6.962-7.8 6.285 4.242 8.873h-7.233l-2.441-5.254-2.849 2.292-.988 2.966h-6.8l5.462-16.346h6.8L352.6 7.64l6.77-5.861h14.12l-2.847 8.5a4.5 4.5 0 0 0-.232 1.285c0 1.354.988 2.055 2.789 2.055a3.491 3.491 0 0 0 2.179-.677 4.716 4.716 0 0 0 1.453-2.382l2.934-8.78h6.915l-3.225 9.62a10.155 10.155 0 0 1-3.2 4.9" class="cls-1" transform="translate(-254.418 18.049)"/><path id="Path_1332" d="M578.518 6.445c3.457 1.028 5.665 2.195 5.665 4.693a4.836 4.836 0 0 1-1.947 3.83C580.7 16.206 578.2 17 574.974 17a17.115 17.115 0 0 1-10.024-2.966l3.893-3.736a12.444 12.444 0 0 0 6.857 2.312c.872 0 1.482-.257 1.482-.724 0-.514-.378-.677-3.341-1.565-3.777-1.121-5.549-2.2-5.549-4.6a4.655 4.655 0 0 1 1.917-3.62A11.555 11.555 0 0 1 577.443 0a16.253 16.253 0 0 1 9.065 2.452l-3.893 3.736a11.245 11.245 0 0 0-5.869-1.822c-.872 0-1.482.187-1.482.654 0 .49.436.584 3.254 1.424" class="cls-1" transform="translate(-436.143 19.5)"/></g></svg></a>
<ul class="parent">
    {% for link in linklists.main-menu.links %}<li {% if link.active %}class="active {% if link.child_active %}child-active{% endif %}"{% endif %}><a class="parent-link openbold" href="{{ link.url }}">{{ link.title }}</a>  {% if link.links != blank %}
  <ul class="child">
      {% for child_link in link.links %}  <li {% if child_link.active %}class="active {% if child_link.child_active %}child-active{% endif %}"{% endif %}><a class="recosemi" href="{{ child_link.url }}">{{ child_link.title }}</a>  {% if child_link.links != blank %}
    <ul class="grandchild">
        {% for grandchild_link in child_link.links %}  <li {% if grandchild_link.active %}class="active {% if grandchild_link.child_active %}child-active{% endif %}"{% endif %}><a class="reco" href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a></li>  {% endfor %}</ul>  {% endif %}</li>  {% endfor %}
  </ul>  {% endif %}</li>  {% endfor %}
</ul>
<div class="cookies e-flex">
  <div class="cookies__hold e-rel e-flex-col">
    <div class="cookies__close">X</div>
    <div class="cookies__text">This website uses cookies. They improve your navigation and the quality of our site. By navigating, you accept the placement and use of cookies as described in our Privacy Policy.</div>
  </div>
</div>