
<div class="popup popup-newsl">
  <div class="popup__fader e-abs"> </div>
  <div class="popup__hold">
    <div class="popup__img"><img src="{{ settings.popup_img_newsl | img_url: 'master' }}" alt="#"></div>
    <div class="popup__texts e-rel">
      <div class="popup__close"><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 20 20"><g fill="none" stroke="var(--dark)"><circle cx="10" cy="10" r="10" stroke="none"/><circle cx="10" cy="10" r="9.5"/></g><path fill="var(--dark)" d="M14.218 6.736l-.823-.823-3.264 3.263-3.263-3.263-.823.823 3.263 3.263-3.263 3.264.823.823 3.263-3.264 3.263 3.263.823-.823-3.263-3.263z"/></svg></div>
      <div class="popup__subt recosemi">{{ settings.popup_subt_newsl }}</div>
      <div class="popup__title">{{ settings.popup_title_newsl }}</div>
      <div class="popup__text">{{ settings.popup_text_newsl }}</div>
      <div class="popup__form"> 
        <form>
          <fieldset> 
            <input class="recosemi" id="newsl-popup" type="email" name="" placeholder="Email">
            <button type="submit"> <svg xmlns="http://www.w3.org/2000/svg" width="28" height="17" viewBox="0 0 28 17"> <path fill="var(--dark)" d="M24.855 7.986a14.872 14.872 0 0 1-7.125-6c-.109-.18-.115-.3.052-.44Q18.606.835 19.413.1c.26-.238.31 0 .4.153.556.9 1.079 1.811 1.724 2.651a15.98 15.98 0 0 0 6 4.757c.245.115.534.171.452.558-.087.413.184.9-.448 1.172a15.168 15.168 0 0 0-6.174 4.928 18.466 18.466 0 0 0-1.511 2.418c-.147.276-.247.37-.514.112-.461-.443-.947-.863-1.439-1.272-.257-.213-.293-.372-.1-.68a14.767 14.767 0 0 1 6-5.36c.365-.183.736-.356 1.1-.534l-.029-.129a14.217 14.217 0 0 0-1.774.166 29.884 29.884 0 0 1-6.545.579C11.233 9.592 5.906 9.6.579 9.621c-.444 0-.57-.119-.523-.546.06-.545-.226-1.282.114-1.591.3-.271 1.019-.081 1.553-.081 5.188 0 10.377.013 15.565-.009a25 25 0 0 1 5.307.491 12.368 12.368 0 0 0 1.852.218c.131.007.275.062.407-.117"/></svg></button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="popup popup-sale">
  <div class="popup__fader e-abs"> </div>
  <div class="popup__hold">
    <div class="popup__img"><img src="{{ settings.popup_img_sale | img_url: 'master' }}" alt="#"></div>
    <div class="popup__texts e-rel">
      <div class="popup__close"><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 20 20"><g fill="none" stroke="var(--dark)"><circle cx="10" cy="10" r="10" stroke="none"/><circle cx="10" cy="10" r="9.5"/></g><path fill="var(--dark)" d="M14.218 6.736l-.823-.823-3.264 3.263-3.263-3.263-.823.823 3.263 3.263-3.263 3.264.823.823 3.263-3.264 3.263 3.263.823-.823-3.263-3.263z"/></svg></div>
      <div class="popup__subt recosemi">{{ settings.popup_subt_sale }}</div>
      <div class="popup__title">{{ settings.popup_title_sale }}</div>
      <div class="popup__text">{{ settings.popup_text_sale }}</div><a class="popup__btn btn-hover" href="{{ settings.popup_link_sale }}"><span class="static">{{ settings.popup_textlink_sale }}</span><span class="hover" data-hover="{{ settings.popup_textlink_sale }} {{ settings.popup_textlink_sale }} ">{{ settings.popup_textlink_sale }} {{ settings.popup_textlink_sale }} </span></a>
    </div>
  </div>
</div>