
<div class="prod-card__each">
  <div class="prod-card__hold">
    <div class="prod-card__imgs"><a class="prod-img" href="{{ prod.url | within: collection }}">
        <ul class="prod-card__imgs__hold">  {% for image in prod.images %}
          <li class="prod-card__img__each"> <img class="img-load" src="{{  image.src | img_url: 'master' }}" alt="{{ image.src | escape }}"></li>  {% endfor %}
        </ul></a>
      <div class="prod-card__img__logo"><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="135.5 361.375 420.321 149.8" overflow="visible"><path d="M181.865 511.114c-12.524-.497-22.77-3.924-30.782-10.29-1.53-1.215-5.173-4.86-6.395-6.398-3.25-4.086-5.458-8.061-6.931-12.473-4.534-13.579-2.2-31.397 6.673-50.953 7.598-16.742 19.322-33.347 39.776-56.344 3.013-3.384 11.986-13.281 12.044-13.281.021 0-.468.847-1.083 1.879-5.318 8.908-9.87 19.4-12.348 28.485-3.982 14.576-3.502 27.085 1.407 36.784 3.386 6.683 9.19 12.47 15.719 15.67 11.428 5.6 28.16 6.063 48.592 1.355 1.407-.326 71.115-18.83 154.91-41.122 83.793-22.294 152.363-40.52 152.374-40.506.024.02-194.677 83.333-295.749 126.555-16.007 6.844-20.287 8.572-27.812 11.214-19.236 6.755-36.467 9.978-50.395 9.425z" style="stroke-width:2.14451"/></svg></div>
      <div class="prod-card__img__date"><span>22JAN</span></div>
      <div class="prod-card__img__discount"><span>40% OFF</span></div>
      <div class="prod-card__img__nav prod-card-img-prev"><svg class="prev-svg-arrow"  xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 29.778 18.028"><path fill="#191919" d="M26.433 8.469a15.8 15.8 0 0 1-7.578-6.361c-.116-.19-.123-.314.055-.467q.878-.756 1.736-1.535c.276-.252.329.005.427.162.592.95 1.148 1.921 1.833 2.812a16.987 16.987 0 0 0 6.377 5.044c.261.122.568.182.481.592-.093.438.2.954-.476 1.243a16.124 16.124 0 0 0-6.566 5.225 19.573 19.573 0 0 0-1.607 2.564c-.157.293-.262.392-.547.119-.49-.47-1.007-.915-1.53-1.349-.273-.226-.312-.394-.1-.721a15.689 15.689 0 0 1 6.378-5.684c.388-.194.782-.378 1.173-.566l-.031-.137a15.162 15.162 0 0 0-1.881.177 31.871 31.871 0 0 1-6.96.614c-5.665-.029-11.33-.017-17 0-.472 0-.606-.126-.556-.579.064-.578-.24-1.359.121-1.687.318-.285 1.082-.084 1.651-.084 5.518 0 11.036.014 16.554-.01a26.661 26.661 0 0 1 5.644.521A13.19 13.19 0 0 0 26 8.593c.139.008.293.066.433-.124" transform="rotate(180 14.889 9.014)"/></svg> <svg class="prev-svg-hover"  xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 29.778 18.028"><path fill="#191919" d="M26.433 8.469a15.8 15.8 0 0 1-7.578-6.361c-.116-.19-.123-.314.055-.467q.878-.756 1.736-1.535c.276-.252.329.005.427.162.592.95 1.148 1.921 1.833 2.812a16.987 16.987 0 0 0 6.377 5.044c.261.122.568.182.481.592-.093.438.2.954-.476 1.243a16.124 16.124 0 0 0-6.566 5.225 19.573 19.573 0 0 0-1.607 2.564c-.157.293-.262.392-.547.119-.49-.47-1.007-.915-1.53-1.349-.273-.226-.312-.394-.1-.721a15.689 15.689 0 0 1 6.378-5.684c.388-.194.782-.378 1.173-.566l-.031-.137a15.162 15.162 0 0 0-1.881.177 31.871 31.871 0 0 1-6.96.614c-5.665-.029-11.33-.017-17 0-.472 0-.606-.126-.556-.579.064-.578-.24-1.359.121-1.687.318-.285 1.082-.084 1.651-.084 5.518 0 11.036.014 16.554-.01a26.661 26.661 0 0 1 5.644.521A13.19 13.19 0 0 0 26 8.593c.139.008.293.066.433-.124" transform="rotate(180 14.889 9.014)"/></svg></div>
      <div class="prod-card__img__nav prod-card-img-next"><svg class="next-svg-arrow" xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 29.778 18.028"><path fill="#191919" d="M26.433 8.468a15.8 15.8 0 0 1-7.578-6.361c-.116-.19-.123-.314.055-.467q.878-.755 1.736-1.534c.276-.252.329.005.427.162.592.95 1.148 1.921 1.833 2.812a16.987 16.987 0 0 0 6.377 5.044c.261.122.568.182.481.592-.093.438.2.954-.476 1.243a16.124 16.124 0 0 0-6.566 5.225 19.573 19.573 0 0 0-1.607 2.564c-.157.293-.262.392-.547.119-.49-.47-1.007-.915-1.53-1.349-.273-.226-.312-.394-.1-.721a15.689 15.689 0 0 1 6.378-5.684c.388-.194.782-.378 1.173-.566l-.031-.137a15.162 15.162 0 0 0-1.881.177 31.871 31.871 0 0 1-6.96.614c-5.665-.029-11.33-.017-17 0-.472 0-.606-.126-.556-.579.064-.578-.24-1.359.121-1.687.318-.286 1.082-.085 1.651-.085 5.518 0 11.036.014 16.554-.01a26.661 26.661 0 0 1 5.644.521A13.19 13.19 0 0 0 26 8.592c.139.008.293.066.433-.124"/></svg> <svg class="next-svg-hover" xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 29.778 18.028"><path fill="#191919" d="M26.433 8.468a15.8 15.8 0 0 1-7.578-6.361c-.116-.19-.123-.314.055-.467q.878-.755 1.736-1.534c.276-.252.329.005.427.162.592.95 1.148 1.921 1.833 2.812a16.987 16.987 0 0 0 6.377 5.044c.261.122.568.182.481.592-.093.438.2.954-.476 1.243a16.124 16.124 0 0 0-6.566 5.225 19.573 19.573 0 0 0-1.607 2.564c-.157.293-.262.392-.547.119-.49-.47-1.007-.915-1.53-1.349-.273-.226-.312-.394-.1-.721a15.689 15.689 0 0 1 6.378-5.684c.388-.194.782-.378 1.173-.566l-.031-.137a15.162 15.162 0 0 0-1.881.177 31.871 31.871 0 0 1-6.96.614c-5.665-.029-11.33-.017-17 0-.472 0-.606-.126-.556-.579.064-.578-.24-1.359.121-1.687.318-.286 1.082-.085 1.651-.085 5.518 0 11.036.014 16.554-.01a26.661 26.661 0 0 1 5.644.521A13.19 13.19 0 0 0 26 8.592c.139.008.293.066.433-.124"/></svg></div>
      <div class="sizes">
          {% assign sizes = '' %}
          {% for variant in prod.variants %}
          {% assign sizes = sizes | append: variant.options[0] | append: '_' %}
          {% endfor %}
          {% assign sizesArr = sizes | split: '_' | uniq %}
          {% for size in sizesArr %}
          <span class="recosemi">{{ size }}</span>
          {% endfor %}
      </div>
    </div>
    <div class="prod-card__infos">
      <div class="prod-card__title"><a class="title-prod dharma" href="{{ prod.url | within: collection }}">{{ prod.title }}</a></div>
      <div class="prod-card__prices"><span class="regular-price">{{ prod.price | money }}</span>{% if prod.compare_at_price_max != 0 %}<span class="sale-price">{{ prod.compare_at_price_max  | money  }}</span>{% endif %}</div>
      <div class="prod-card__notify">NOTIFY ME</div>
    </div>
  </div>
</div>