
<div class="products__each">  {% unless prod.available %}<br><strong>sold out</strong>{% endunless %}<a class="prod-img" href="{{ prod.url | within: collection }}"><img class="img-load test" src="{{ prod.featured_image.src | img_url: '700x' }}" alt="{{ prod.featured_image.alt | escape }}">  {% if prod.images.size == 1 %} 
      {% assign my_product_image =  prod.images[0] %}
      {% else %}
      {% assign my_product_image =  prod.images[1] %}
      {% endif %}<img class="img-load" src="{{ my_product_image | img_url: '700x' }}" alt="{{ prod.featured_image.alt | escape }}"></a>
  <div class="prod-infos">
    <div class="prod-infos__title"><a class="title-prod" href="{{ prod.url | within: collection }}">{{ prod.title }}</a></div>
    <div class="prod-infos__desc">{% if prod.compare_at_price_max != 0 %}<span class="sale-price">{{ prod.compare_at_price_max  | money_without_trailing_zeros  }}</span>{% endif %}<span class="regular-price">{{ prod.price | money_without_trailing_zeros }}</span>
      <div class="avai-sizes">Available Sizes</div>
      <div class="sizes">
          {% assign sizes = '' %}
          {% for variant in prod.variants %}
          {% if variant.available %}
          {% assign sizes = sizes | append: variant.options[0] | append: '_' %}
          {% endif %}
          {% endfor %}
          {% assign sizesArr = sizes | split: '_' | uniq %}
          {% for size in sizesArr %}
          <span>{{ size }}</span>
          {% endfor %}
      </div>
    </div>
  </div>
</div>