  {% assign has_stock = 0 %}
  {% if prod.variants.size > 1 %}
  {% for variant in prod.variants %}
  {% if variant.available %}
  {% if variant.inventory_quantity != 0 %} {% assign has_stock = variant.inventory_quantity %} {% endif %}
  {% else %}
  {% endif %}
  {% endfor %}
  {% else %}
  {% endif %}
  {% assign vendor = prod.vendor | downcase  %}
<div class="prod-card__each {% if prod.metafields.drop.drop_month %}card-drop{% elsif prod.variants.size > 1 %}card-variant{% endif %}"> 
  <div class="prod-card__hold">
    <div class="prod-card__imgs"><a class="prod-img" href="{{ prod.url | within: collection }}">
        <ul class="prod-card__imgs__hold">  {% for image in prod.images limit: 2 %}
          <li class="prod-card__img__each"> <img class="img-load" src="{{  image.src | img_url: 'master' }}" alt="{{ image.src | escape }}"></li>  {% endfor %}
        </ul></a>
      <div class="prod-card__img__logo">
           {% for collection in prod.collections %}
              {% assign col_title = collection.title | downcase %}
              {% if vendor == col_title  %}<img src="{{  collections[collection.handle].image | img_url: '200x'}}" alt="{{ vendor }} {{ col_title }}">      {% endif %}
          {% endfor %}
      </div>  {% if prod.metafields.drop.drop_month %}
      <div class="prod-card__img__date"><span>{{ prod.metafields.drop.drop_day }} {{ prod.metafields.drop.drop_month }}</span></div>  {% elsif prod.compare_at_price_max > prod.price and has_stock > 0 %}
      <div class="prod-card__img__discount"><span>{{ prod.compare_at_price_min | minus: prod.price | times: 100.0 |  divided_by: prod.compare_at_price_min | money_without_currency | times: 100 | replace: '.0', ''}}% OFF {{  }}</span></div>  {% elsif has_stock < 1 %}
      <div class="prod-card__soldout"><span>SOLD OUT</span></div>  {% endif %}
      <div class="sizes">
          {% assign sizes = '' %}
          {% for variant in prod.variants %}
              {% assign var_url = variant.url %}
              {% assign sizes = sizes | append: variant.options[0] | append: '_' %}<a class="{% unless variant.available %}disabled{% endunless %} link-var" href="{{ variant.url }}"><span class="recosemi">{{ variant.title  }}</span></a>  {% endfor %}
      </div>
    </div>
    <div class="prod-card__infos {% if prod.compare_at_price_max > prod.price %}card-sale{% endif %}">
      <div class="prod-card__title"><a class="title-prod dharma" href="{{ prod.url | within: collection }}">{{ prod.title }}</a></div>
      <div class="prod-card__prices"><span class="regular-price">{{ prod.price | money }}</span>{% if prod.compare_at_price_max != 0 %}<span class="sale-price">{{ prod.compare_at_price_max  | money  }}</span>{% endif %}</div>  {% if prod.metafields.drop.drop_month %}
      <div class="prod-card__notify btn-hover"><span class="static">NOTIFY ME</span><span class="hover" data-hover="NOTIFY ME      NOTIFY ME      NOTIFY ME      NOTIFY ME      NOTIFY ME      ">NOTIFY ME      NOTIFY ME      NOTIFY ME      NOTIFY ME      NOTIFY ME      </span></div>  {% endif %}
    </div>
  </div>
</div>