  {% assign has_stock = 0 %}
  {% if prod.variants.size > 1 %}
  {% for variant in prod.variants %}
  {% if variant.available %}
  {% if variant.inventory_quantity != 0 %} {% assign has_stock = variant.inventory_quantity %} {% endif %}
  {% else %}
  {% endif %}
  {% endfor %}
  {% else %}
  {% endif %}
<div class="prod-card__each {% if prod.metafields.drop.drop_month %}card-drop{% elsif prod.variants.size > 1 %}card-variant{% endif %}"> 
  <div class="prod-card__hold">
    <div class="prod-card__imgs"><a class="prod-img" href="{{ prod.url | within: collection }}">
        <ul class="prod-card__imgs__hold">  {% for image in prod.images limit: 2 %}
          <li class="prod-card__img__each"> <img class="img-load" src="{{  image.src | img_url: 'master' }}" alt="{{ image.src | escape }}"></li>  {% endfor %}
        </ul></a>
      <div class="prod-card__img__logo"><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="135.5 361.375 420.321 149.8" overflow="visible"><path d="M181.865 511.114c-12.524-.497-22.77-3.924-30.782-10.29-1.53-1.215-5.173-4.86-6.395-6.398-3.25-4.086-5.458-8.061-6.931-12.473-4.534-13.579-2.2-31.397 6.673-50.953 7.598-16.742 19.322-33.347 39.776-56.344 3.013-3.384 11.986-13.281 12.044-13.281.021 0-.468.847-1.083 1.879-5.318 8.908-9.87 19.4-12.348 28.485-3.982 14.576-3.502 27.085 1.407 36.784 3.386 6.683 9.19 12.47 15.719 15.67 11.428 5.6 28.16 6.063 48.592 1.355 1.407-.326 71.115-18.83 154.91-41.122 83.793-22.294 152.363-40.52 152.374-40.506.024.02-194.677 83.333-295.749 126.555-16.007 6.844-20.287 8.572-27.812 11.214-19.236 6.755-36.467 9.978-50.395 9.425z" style="stroke-width:2.14451"/></svg></div>  {% if prod.metafields.drop.drop_month %}
      <div class="prod-card__img__date"><span>{{ prod.metafields.drop.drop_day }} {{ prod.metafields.drop.drop_month }}</span></div>  {% elsif prod.compare_at_price_max > prod.price and has_stock > 0 %}
      <div class="prod-card__img__discount"><span>{{ prod.compare_at_price_min | minus: prod.price | times: 100.0 |  divided_by: prod.compare_at_price_min | money_without_currency | times: 100 | replace: '.0', ''}}% OFF {{  }}</span></div>  {% elsif has_stock < 1 %}
      <div class="prod-card__soldout"><span>SOLD OUT</span></div>  {% endif %}
      <div class="sizes">
          {% assign sizes = '' %}
          {% for variant in prod.variants %}
          {% assign sizes = sizes | append: variant.options[0] | append: '_' %}
          {% endfor %}
          {% assign sizesArr = sizes | split: '_' | uniq %}
          {% for size in sizesArr %}
          <span class="recosemi">{{ size }}</span>
          {% endfor %}
      </div>
    </div>
    <div class="prod-card__infos {% if prod.compare_at_price_max > prod.price %}card-sale{% endif %}">
      <div class="prod-card__title"><a class="title-prod dharma" href="{{ prod.url | within: collection }}">{{ prod.title }}</a></div>
      <div class="prod-card__prices"><span class="regular-price">{{ prod.price | money }}</span>{% if prod.compare_at_price_max != 0 %}<span class="sale-price">{{ prod.compare_at_price_max  | money  }}</span>{% endif %}</div>  {% if prod.metafields.drop.drop_month %}
      <div class="prod-card__notify btn-hover" id="BIS_trigger"><span class="static">NOTIFY ME</span><span class="hover" data-hover="NOTIFY ME      NOTIFY ME      NOTIFY ME      NOTIFY ME      NOTIFY ME      ">NOTIFY ME      NOTIFY ME      NOTIFY ME      NOTIFY ME      NOTIFY ME      </span></div>  {% endif %}
    </div>
  </div>
</div>