
<div class="products__each"><a class="prod-img" href="{{ prod.url | within: collection }}"><img class="img-load test" src="{{ prod.featured_image.src | img_url: 'master' }}" alt="{{ prod.featured_image.alt | escape }}"></a>
  <div class="prod-infos">
    <div class="prod-infos__title"><a class="title-prod dharma" href="{{ prod.url | within: collection }}">{{ prod.title }}</a></div>
    <div class="prod-infos__desc">{% if prod.compare_at_price_max != 0 %}<span class="sale-price">{{ prod.compare_at_price_max  | money_without_trailing_zeros  }}</span>{% endif %}<span class="regular-price">{{ prod.price | money_without_trailing_zeros }}</span>
      <div class="sizes">
          {% assign sizes = '' %}
          {% for variant in prod.variants %}
          {% assign sizes = sizes | append: variant.options[0] | append: '_' %}
          {% endfor %}
          {% assign sizesArr = sizes | split: '_' | uniq %}
          {% for size in sizesArr %}
          <span class="recosemi">{{ size }}</span>
          {% endfor %}
      </div>
    </div>
  </div>
</div>