
<div class="page page-acc" data-ispage="account" data-scroll-content> 
  <header class="header-acc e-flex-col">
    <div class="state-form">MY ACCOUNT</div>
  </header>
  <main class="main-acc">
    <section class="acc-infos">
      <div class="acc-infos__hold e-hold">
        <div class="indic-sec t-serif"> ACCOUNT INFORMATION</div><span class="acc-infos__name">{{ customer.name | default: "customer" }}</span><span class="acc-infos__email txt-hvr-blue">{{ customer.email }}</span>
      </div>
    </section>
    <section class="acc-order">
      <div class="acc-order__hold e-hold">
        <div class="indic-sec t-serif"> ORDER HISTORY</div>
        <ul class="order-list">
          <li class="order-list__rank"><span>ORDER</span><span>FINANCIAL</span><span>DATE</span><span>STATUS</span><span>SUBTOTAL</span></li>  {% if customer.orders.size != 0 %}                
            {% for order in customer.orders %}
          <li class="order-list__each"><span>{{ order.name | link_to: order.customer_url }}</span><span>{{ order.financial_status | capitalize  }}</span><span>{{ order.created_at | date: format: 'abbreviated_date' }}</span><span>{{ order.fulfillment_status | capitalize  }}</span><span>{{ order.line_items_subtotal_price | money  }}</span></li>  {% endfor %}
            {% else %}
          <p>You haven't placed any orders yet.</p>  {% endif %}
        </ul>
      </div>
    </section>
    <section class="acc-track">
      <div class="acc-track__hold e-hold">
          {% for line_item in order.line_items %}
          {% if line_item.fulfillment.tracking_number %}<span>TRACK NUMBER:   <a class="txt-hvr-blue" href="{{ line_item.fulfillment.tracking_url }}"> {{ line_item.fulfillment.tracking_number }}  </a></span>  {% endif %}
          {% endfor %}
      </div>
    </section>
  </main>{% render  'myfooter' %}
</div>