<!doctype html>
<html>
<head>
  <title>{{ page_title }} | {{ shop.name }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {% include 'globo.filter.script' %}{{ content_for_header }} <!-- Header hook for plugins -->
  <link rel="preload" href=" {{ 'DharmaGothicE-Bold.woff' | asset_url }} " as="font" type="font/woff" crossorigin>
  <link rel="preload" href=" {{ 'DharmaGothicE-ExBold.woff' | asset_url }} " as="font" type="font/woff" crossorigin>
  <link rel="preload" href="  {{ 'OpenSans-Bold.woff' | asset_url }} " as="font" type="font/woff" crossorigin>
  <link rel="preload" href="  {{ 'OpenSans-Regular.woff' | asset_url }} " as="font" type="font/woff" crossorigin>
  <link rel="preload" href="  {{ 'OpenSans-SemiBold.woff' | asset_url }} " as="font" type="font/woff" crossorigin>
  <link rel="preload" href="  {{ 'RecoletaAlt-Medium.woff' | asset_url }} " as="font" type="font/woff" crossorigin>
  <link rel="preload" href="  {{ 'RecoletaAlt-SemiBold.woff' | asset_url }} " as="font" type="font/woff" crossorigin>
  <link rel="preload" href="  {{ 'RecoletaAlt-Regular.woff' | asset_url }} " as="font" type="font/woff" crossorigin>

  <link rel="preconnect" href="https://www.google-analytics.com/" crossorigin>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
  <script type="text/javascript" async src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=RXrvpv"></script>
  <style>
    @font-face{font-family: 'DharmaGothicE-Bold'; font-display: fallback; src: url('{{ "DharmaGothicE-Bold.eot" | asset_url }}') format('embedded-opentype'), url('{{ "DharmaGothicE-Bold.ttf" | asset_url }}') format('truetype'), url('{{ "DharmaGothicE-Bold.woff" | asset_url }}') format('woff'), url('{{ "DharmaGothicE-Bold.woff2" | asset_url }}') format('woff2'); font-weight: normal; font-style: normal;}

    @font-face{font-family: 'DharmaGothicE-ExBold'; font-display: fallback; src: url('{{ "DharmaGothicE-ExBold.eot" | asset_url }}') format('embedded-opentype'), url('{{ "DharmaGothicE-ExBold.ttf" | asset_url }}') format('truetype'), url('{{ "DharmaGothicE-ExBold.woff" | asset_url }}') format('woff'), url('{{ "DharmaGothicE-ExBold.woff2" | asset_url }}') format('woff2'); font-weight: normal; font-style: normal;}

    @font-face{font-family: 'OpenSans-Bold'; font-display: fallback; src: url('{{ "OpenSans-Bold.ttf" | asset_url }}') format('truetype'), url('{{ "OpenSans-Bold.woff" | asset_url }}') format('woff'); font-weight: normal; font-style: normal;}

    @font-face{font-family: 'OpenSans-Regular'; font-display: fallback; src: url('{{ "OpenSans-Regular.ttf" | asset_url }}') format('truetype'), url('{{ "OpenSans-Regular.woff" | asset_url }}') format('woff'); font-weight: normal; font-style: normal;}

    @font-face{font-family: 'OpenSans-SemiBold'; font-display: fallback; src: url('{{ "OpenSans-SemiBold.ttf" | asset_url }}') format('truetype'), url('{{ "OpenSans-SemiBold.woff" | asset_url }}') format('woff'); font-weight: normal; font-style: normal;}

    @font-face{font-family: 'RecoletaAlt-Medium'; font-display: fallback; src: url('{{ "RecoletaAlt-Medium.eot" | asset_url }}') format('embedded-opentype'), url('{{ "RecoletaAlt-Medium.ttf" | asset_url }}') format('truetype'), url('{{ "RecoletaAlt-Medium.woff" | asset_url }}') format('woff'), url('{{ "RecoletaAlt-Medium.woff2" | asset_url }}') format('woff2'); font-weight: normal; font-style: normal;}

    @font-face{font-family: 'RecoletaAlt-SemiBold'; font-display: fallback;  src: url('{{ "RecoletaAlt-SemiBold.eot" | asset_url }}') format('embedded-opentype'),  url('{{ "RecoletaAlt-SemiBold.ttf" | asset_url }}') format('truetype'),  url('{{ "RecoletaAlt-SemiBold.woff" | asset_url }}') format('woff'),  url('{{ "RecoletaAlt-SemiBold.woff2" | asset_url }}') format('woff2'); font-weight: normal; font-style: normal;} 

    @font-face{font-family: 'RecoletaAlt-Regular'; font-display: fallback;  src: url('{{ "RecoletaAlt-Regular.eot" | asset_url }}') format('embedded-opentype'),  url('{{ "RecoletaAlt-Regular.ttf" | asset_url }}') format('truetype'),  url('{{ "RecoletaAlt-Regular.woff" | asset_url }}') format('woff'),  url('{{ "RecoletaAlt-Regular.woff2" | asset_url }}') format('woff2'); font-weight: normal; font-style: normal;} 
  </style>
  {{ 'app.css' | asset_url | stylesheet_tag }}
</head>
<body class="{{ template }}" data-ariapage="{{ template }}" data-colle="{% if template == 'collection' %}{{ collection.title | downcase }}{% endif %}" >
  {% if template == 'index' %} {% render 'loader-home' %}{% endif %}
  {% render 'mymenu' %}
  {% render 'myminicart' %}
  {% render 'mydropdown' %}
  {% render 'menufs' %}
  {% render 'popups' %}
  {% if template == 'blog' %} {% render 'menu-blog' %} {% endif %}
  {% if template == 'collection' %} <div class="no-desk"> {% section 'filter-prod' %} </div> {% endif %}
  
  <main role="main">
    <div data-scroll>
      {{ content_for_layout }}
    </div>
  </main>
  {{ 'app.bundle.js' | asset_url | script_tag }}
  <script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
  <script>
      var klaviyo = klaviyo || [];
      klaviyo.init({
        account: "RXrvpv",
        platform: "shopify"
      });
      klaviyo.enable("backinstock",{
      trigger: {
        product_page_text: "Notify Me",
        product_page_class: "notify-test",
        product_page_text_align: "center",
        product_page_margin: "0px",
        replace_anchor: false
      },
      modal: {
        headline: "{product_name}",
        body_content: "Pick a size and add your email address below to be notified as soon as this item becomes available."+"<p class=‘size’>Size:</p>",
        email_field_label: "Email",
        button_label: "Notify me when available",
        subscription_success_label: "You’re in! We’ll let you know when it’s back.",
        footer_content: "We’ll notify you when this product is in stock. We don’t share your address with anybody else.",
        additional_styles: "@import url(’https://cdn.shopify.com/s/files/1/0538/9280/8895/t/3/assets/DharmaGothicE-ExBold.woff?v=3374710654463336380');@import url(’https://cdn.shopify.com/s/files/1/0538/9280/8895/t/3/assets/RecoletaAlt-SemiBold.woff?v=10529567935536612162');@import url(’https://cdn.shopify.com/s/files/1/0538/9280/8895/t/3/assets/RecoletaAlt-Regular.woff?v=4854757421062460364');.btn{color:#191919;width:19.5rem;text-transform:uppercase;align-items:center;background:#fec333;border-radius:50px;border:1px solid #191919;cursor:pointer;display:flex;font-family:RecoletaAlt-SemiBold;font-size:1.1rem;justify-content:center;overflow:hidden;position:relative}.btn::after{opacity:0;position:absolute;top:1rem;left:0;width:200%;height:100%;content:‘Notify me when available  Notify me when available   ’;background:#fec333;animation:marquee 10s linear infinite;will-change:transform}.btn:hover::after{opacity:1}@keyframes marquee{0%{transform:translate3d(0,0,0)}100%{transform:translate3d(-25%,0,0)}}.control-group{display:flex;justify-content:center}.small-print{padding-top:16px}.small-print,p{font-family:RecoletaAlt-Regular;font-size:1.2rem;font-weight:400;font-stretch:normal;font-style:normal;line-height:1.38;letter-spacing:normal;text-align:center}#container{background:#fdfbf5;border-radius:0}.form-control{border:0}.form-control,.input-lg{padding:8px 0;border-bottom:1px solid #191919;color:#191919;background-color:transparent;background-image:none;border-radius:0;box-shadow:none;transition:none;font-family:RecoletaAlt-Regular;font-size:1.2rem;outline:0}.modal-title{font-family:DharmaGothicE-ExBold;font-size:4rem;font-weight:700;font-stretch:normal;font-style:normal;line-height:.9;letter-spacing:normal;text-align:center;color:#191919;text-transform:uppercase;margin-top:28px}.alert{font-family:RecoletaAlt-Regular;font-size:1rem}.size{margin-block-end:0;text-align:left}",
        background_color: "#fff",
        text_color: "#222",
        button_text_color: "#fff",
        button_background_color: "#439FDB",
        close_button_color: "#ccc",
        error_background_color: "#FCD6D7",
        error_text_color: "#C72E2F",
        success_background_color: "#D3EFCD",
        success_text_color: "#1B9500"
      }
    });
  </script>
	{% include 'globo.filter.action' %}
  {% include 'swymSnippet' %}
	</body>
</html>
