  {% assign product = all_products[section.settings.dropping_card_prod] %}
<section class="dropping-card dropping-card-regular">
  <div class="dropping-card__hold js-find-hover">
    <div class="dropping-card__bg" style="background:#eaeaea"></div>
    <div class="dropping-card__infos">
      <div class="dropping-card__logo"><img class="img-load" src="{{ section.settings.img_logo_brand | img_url: 'master' }}" alt="{{ section.settings.img_logo_brand.alt | escape }}"></div><a class="dropping-card__title dharma" href="{{ all_products[section.settings.dropping_card_prod].url | within: collection }}">{{ all_products[section.settings.dropping_card_prod].title }}</a>
      <div class="dropping-card__price recosemi">{{ all_products[section.settings.dropping_card_prod].price | money }}</div>
      <div class="dropping-card__infos__img no-desk"><a href="{{ all_products[section.settings.dropping_card_prod].url | within: collection }}"><img class="img-load" src="{{  all_products[section.settings.dropping_card_prod].featured_image.src  | img_url: 'master' }}" alt="{{ all_products[section.settings.dropping_card_prod].src | escape }}"></a></div>
      <div class="dropping-card__count">
          {% if all_products[section.settings.dropping_card_prod].metafields.drop.drop_month %}
          {% assign drop_day = all_products[section.settings.dropping_card_prod].metafields.drop.drop_day %}
          {% assign drop_month = all_products[section.settings.dropping_card_prod].metafields.drop.drop_month %}
          {% assign drop_hour = all_products[section.settings.dropping_card_prod].metafields.drop.drop_hour %}
        <div class="countdown" data-day="{{ drop_day }}" data-month="{{ drop_month }}" data-hour="{{ drop_hour }}">
          <ul class="countdown__hold">
            <li class="countdown__numbers"><span class="countdown__days">00</span><span class="countdown__hours">00</span><span class="countdown__mins">00</span><span class="countdown__secs">00</span></li>
            <li class="countdown__infos"><span class="infos__days">DAYS</span><span class="infos__hours">HOURS</span><span class="infos__mins">MINS</span><span class="infos__secs">SECS</span></li>
          </ul>
        </div>  {% endif %}
      </div>
      <form class="js-add-cart" action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">  {% unless current_variant.available %}
        <div class="dropping-card__notify btn-hover"><span class="BIS_trigger static" data-product-data="{{ product | json | escape }}">NOTIFY ME</span><span class="BIS_trigger hover" data-product-data="{{ product | json | escape }}" data-hover="NOTIFY ME      NOTIFY ME      ">NOTIFY ME      NOTIFY ME      </span></div>  {% endunless %}
      </form>
    </div>
    <div class="dropping-card__img no-mobile hover-img"> <a href="{{ all_products[section.settings.dropping_card_prod].url | within: collection }}"> <img class="img-load" src="{{  all_products[section.settings.dropping_card_prod].featured_image.src  | img_url: 'master' }}" alt="{{ all_products[section.settings.dropping_card_prod].src | escape }}"></a></div>
  </div>
</section>{% schema %}
    {
        "name": "MODULE | Dropping Card",
        "class": "dropping-card",
        "settings": [
            {
                "id": "dropping_card_prod",
                "type": "product",
                "label": "Product"
            },
            {
                "id": "img_logo_brand",
                "type": "image_picker",
                "label": "Image Logo"
            }
        ],
        "presets": [
            {
            "name": "Dropping Card Regular",
            "category": "Cards"
            }
        ]
    }
{% endschema %}