
{% schema %}
    {
        "name": "MODULE | Dropping Inverse",
        "class": "dropping-card",
        "settings": [
            {
                "id": "dropping_card_inv",
                "type": "collection",
                "label": "Collection"
            },
            {
                "id": "img_logo_brand_inv",
                "type": "image_picker",
                "label": "Image Logo"
            }
        ]
    }
{% endschema %}
{% assign dropping_col_inv = collections[section.settings.dropping_card_inv] %}
<section class="dropping-card dropping-card-inv">{% for product in dropping_col_inv.products limit:1 %}
  <div class="dropping-card__hold e-flex">
    <div class="dropping-card__infos">
      <div class="dropping-card__logo"> <img class="img-load" src="{{ section.settings.img_logo_brand_inv | img_url: 'master' }}" alt="{{ section.settings.img_logo_brand_inv.alt | escape }}"></div><a class="dropping-card__title dharma" href="{{ product.url | within: collection }}">{{ product.title }}</a>
      <div class="dropping-card__price recosemi">{{ product.price | money }}</div>
      <div class="prod-card__notify">NOTIFY ME</div>
    </div>
    <div class="dropping-card__img"><a href="{{ product.url | within: collection }}"> <img class="img-load" src="{{  product.featured_image.src  | img_url: 'master' }}" alt="{{ product.src | escape }}"></a></div>
  </div>{% endfor %}
</section>