
{% schema %}
    {
        "name": "INDEX | Slide Highlight",
        "settings": [
            {
                "id": "introducing",
                "type": "text",
                "label": "Introducing",
                "default": "INTRODUCING"
            },
            {
                "id": "img_hl",
                "type": "image_picker",
                "label": "Image Highlight"
            },
            {
                "id": "title_hl",
                "type": "text",
                "label": "Title Highlight"
            },
            {
                "id": "url_hl",
                "type": "url",
                "label": "Link Highlight"
            },
            {
                "type": "color",
                "id": "color_text_hl",
                "label": "Color Text",
                "default": "#ffffff"
            }
        ],

        "name": "INDEX | Intro & Header",
        "max_blocks": 9,
        "blocks": [
            {
                "name": "Images",
                "type": "images",
                "settings": [
                    {
                        "id": "img-intro",
                        "type": "image_picker",
                        "label": "Image"
                    }
                ]
            }
        ]
    }
{% endschema %}


<header class="header-index e-wvw">
  <div class="header-index__hold e-hold">
    <ul class="header-index__imgs">{% for block in section.blocks %}
      <li class="header-index__imgs__each"><img class="img-load" src="{{ block.settings.img-intro | img_url: 'master' }}" alt=""></li>{% endfor %}
    </ul>
    <div class="header-index__hl">
      <div class="header-index__hl__hold e-wp e-hp e-rel hover-img-mini">
        <div class="header-index__hl__img"><a href="{{ section.settings.url_hl }}" title="{{ section.settings.title_hl }}"><img class="img-load" src="{{ section.settings.img_hl | img_url: 'master' }}" alt=""></a></div>
        <div class="header-index__hl__texts"><span class="recosemi" style="color:{{ section.settings.color_text_hl }}">{{ section.settings.introducing}}</span><a class="dharma" href="{{ section.settings.url_hl }}" title="{{ section.settings.title_hl }}" style="color:{{ section.settings.color_text_hl }}">{{ section.settings.title_hl }}</a></div>
      </div>
    </div>
  </div>
</header>