
{% schema %}
    {
        "name": "INDEX | Collections",
        "settings": [
            {
                "type": "color",
                "id": "color_text_col",
                "label": "Color Text",
                "default": "#ffffff"
            }
        ],

        "name": "INDEX | Collections",
        "max_blocks": 5,
        "blocks": [
            {
                "name": "Collection Index",
                "type": "collections",
                "settings": [
                    {
                        "id": "img_cols",
                        "type": "image_picker",
                        "label": "Collection Image"
                    },
                    {
                        "id": "title_cols",
                        "type": "text",
                        "label": "Collection Title"
                    },
                    {
                        "id": "link_cols",
                        "type": "url",
                        "label": "Collection Link"
                    }
                ]
            }
        ]
    }
{% endschema %}


<section class="cols_index e-wvw js-slider">
  <div class="cols_index__hold">
    <ul class="cols_index__items js-slider__holder">{% for block in section.blocks %}
      <li class="cols_index__each hover-img {% if forloop.index <= 3 %} stagger-it {% endif %}">
        <div class="cols_index__img"><a href="{{ block.settings.link_cols }}" title="{{ block.settings.title_cols }}"><img class="img-load" src="{{ block.settings.img_cols | img_url: 'master' }}" alt="#"></a></div><a class="cols_index__title dharma" href="{{ block.settings.link_cols }}" title="{{ block.settings.title_cols }}" style="color:{{ section.settings.color_text_col }}">{{ block.settings.title_cols }}</a>
      </li>{% endfor %}
    </ul>
    <div class="cols_index__drag no-mobile">
      <div class="drag__cntrl">
        <div class="drag__cntrl__lines">
          <div class="drag-line line-static"></div>
          <div class="drag-line line-dyna"></div>
        </div>
        <button class="drag recosemi" href="#">DRAG</button>
      </div>
    </div>
  </div>
</section>