{% assign soon_col = collections[section.settings.soon_index] %}
<section class="soon-index e-wvw">
  <div class="soon-index__hold e-hold">
    <div class="soon-index__coming hover-img">
      <div class="soon-index__coming__hold e-wp e-hp e-rel">
        <div class="soon-index__coming__img"><a href="{{ section.settings.url_coming }}" title="{{ section.settings.title_coming }}"><img class="img-load" src="{{ section.settings.img_coming | img_url: 'master' }}" alt="{{ section.settings.img_coming.alt | escape }}"></a></div>
        <div class="soon-index__coming__texts"><span class="recosemi" style="color:{{ section.settings.color_text_coming }}">{{ section.settings.coming}}</span><a class="dharma" href="{{ section.settings.url_coming }}" title="{{ section.settings.title_coming }}" style="color:{{ section.settings.color_text_coming }}">{{ section.settings.title_coming }}</a></div>  {% if all_products[section.settings.cardimg_prod].metafields.drop.drop_month %}
          {% assign drop_day = all_products[section.settings.cardimg_prod].metafields.drop.drop_day %}
          {% assign drop_month = all_products[section.settings.cardimg_prod].metafields.drop.drop_month %}
          {% assign drop_hour = all_products[section.settings.cardimg_prod].metafields.drop.drop_hour %}
        <div class="soon-index__coming__count no-mobile">
          <div class="countdown" data-day="{{ drop_day }}" data-month="{{ drop_month }}" data-hour="{{ drop_hour }}">
            <ul class="countdown__hold">
              <li class="countdown__numbers"><span class="countdown__days">00</span><span class="countdown__hours">00</span><span class="countdown__mins">00</span><span class="countdown__secs">00</span></li>
              <li class="countdown__infos"><span class="infos__days">DAYS</span><span class="infos__hours">HOURS</span><span class="infos__mins">MINS</span><span class="infos__secs">SECS</span></li>
            </ul>
          </div>
        </div>{% endif %}
      </div>
    </div>
  </div>
</section>{% schema %}
    {
        "name": "BIG IMAGE",
        "settings": [
            
            {
                "id": "coming",
                "type": "text",
                "label": "Coming",
                "default": "COMING SOON"
            },
            {
                "id": "img_coming",
                "type": "image_picker",
                "label": "Image Coming"
            },
            {
                "id": "title_coming",
                "type": "text",
                "label": "Title Coming"
            },
            {
                "id": "url_coming",
                "type": "url",
                "label": "Link Coming"
            },
            {
                "type": "color",
                "id": "color_text_coming",
                "label": "Color Text",
                "default": "#ffffff"
            },
            {
                "id": "cardimg_prod",
                "type": "product",
                "label": "Product"
            }
        ],
        "presets": [
            {
            "name": "Big Image Card",
            "category": "Cards"
            }
        ]
    }
{% endschema %}