  {% assign fields = article.metafields.post %}
<div class="page page-article" data-ispage="article" data-scroll-content>
  <header class="header-article">
    <div class="header-article__hold e-hold">
      <div class="header-article__title e-dharma e-upper">{{ article.title }}</div>
      <ul class="header-article__infos">
        <li class="header-article__infos__each">
          <div class="reco">Category</div>
          <div class="recosemi">ARTICLE</div>
        </li>
        <li class="header-article__infos__each">
          <div class="reco">Date</div>
          <div class="recosemi">{{ article.created_at | date: "%d.%m.%y" }}</div>
        </li>
        <li class="header-article__infos__each">
          <div class="reco">Author</div>
          <div class="recosemi">{{ article.author }}</div>
        </li>
        <li class="header-article__infos__each">
          <div class="reco">Read Time</div>
          <div class="recosemi">{{ fields.read_time }}</div>
        </li>
        <li class="header-article__infos__each no-mobile share-btns">
          <button class="btn-hover"><span class="static">SHARE</span><span class="hover" data-hover="SHARE SHARE ">SHARE SHARE </span></button>
          <div class="share-btns__buttons"><a href="https://twitter.com/share?text={{ page_title }}&amp;url={{ shop.url }}{{ article.url }}&amp;hashtags=SleauDown,SleauShop" target="_blank"> 
              <div class="move"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112.197 112.197" style="enable-background:new 0 0 112.197 112.197"><circle class="circ-path" cx="56.099" cy="56.098" r="56.098"/><path d="M90.461 40.316a26.753 26.753 0 01-7.702 2.109 13.445 13.445 0 005.897-7.417 26.843 26.843 0 01-8.515 3.253 13.396 13.396 0 00-9.79-4.233c-7.404 0-13.409 6.005-13.409 13.409 0 1.051.119 2.074.349 3.056-11.144-.559-21.025-5.897-27.639-14.012a13.351 13.351 0 00-1.816 6.742c0 4.651 2.369 8.757 5.965 11.161a13.314 13.314 0 01-6.073-1.679l-.001.17c0 6.497 4.624 11.916 10.757 13.147a13.362 13.362 0 01-3.532.471c-.866 0-1.705-.083-2.523-.239 1.706 5.326 6.657 9.203 12.526 9.312a26.904 26.904 0 01-16.655 5.74c-1.08 0-2.15-.063-3.197-.188a37.929 37.929 0 0020.553 6.025c24.664 0 38.152-20.432 38.152-38.153 0-.581-.013-1.16-.039-1.734a27.192 27.192 0 006.692-6.94z"/></svg> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112.197 112.197" style="enable-background:new 0 0 112.197 112.197"><circle class="circ-path" cx="56.099" cy="56.098" r="56.098"/><path d="M90.461 40.316a26.753 26.753 0 01-7.702 2.109 13.445 13.445 0 005.897-7.417 26.843 26.843 0 01-8.515 3.253 13.396 13.396 0 00-9.79-4.233c-7.404 0-13.409 6.005-13.409 13.409 0 1.051.119 2.074.349 3.056-11.144-.559-21.025-5.897-27.639-14.012a13.351 13.351 0 00-1.816 6.742c0 4.651 2.369 8.757 5.965 11.161a13.314 13.314 0 01-6.073-1.679l-.001.17c0 6.497 4.624 11.916 10.757 13.147a13.362 13.362 0 01-3.532.471c-.866 0-1.705-.083-2.523-.239 1.706 5.326 6.657 9.203 12.526 9.312a26.904 26.904 0 01-16.655 5.74c-1.08 0-2.15-.063-3.197-.188a37.929 37.929 0 0020.553 6.025c24.664 0 38.152-20.432 38.152-38.153 0-.581-.013-1.16-.039-1.734a27.192 27.192 0 006.692-6.94z"/></svg> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112.197 112.197" style="enable-background:new 0 0 112.197 112.197"><circle class="circ-path" cx="56.099" cy="56.098" r="56.098"/><path d="M90.461 40.316a26.753 26.753 0 01-7.702 2.109 13.445 13.445 0 005.897-7.417 26.843 26.843 0 01-8.515 3.253 13.396 13.396 0 00-9.79-4.233c-7.404 0-13.409 6.005-13.409 13.409 0 1.051.119 2.074.349 3.056-11.144-.559-21.025-5.897-27.639-14.012a13.351 13.351 0 00-1.816 6.742c0 4.651 2.369 8.757 5.965 11.161a13.314 13.314 0 01-6.073-1.679l-.001.17c0 6.497 4.624 11.916 10.757 13.147a13.362 13.362 0 01-3.532.471c-.866 0-1.705-.083-2.523-.239 1.706 5.326 6.657 9.203 12.526 9.312a26.904 26.904 0 01-16.655 5.74c-1.08 0-2.15-.063-3.197-.188a37.929 37.929 0 0020.553 6.025c24.664 0 38.152-20.432 38.152-38.153 0-.581-.013-1.16-.039-1.734a27.192 27.192 0 006.692-6.94z"/></svg> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112.197 112.197" style="enable-background:new 0 0 112.197 112.197"><circle class="circ-path" cx="56.099" cy="56.098" r="56.098"/><path d="M90.461 40.316a26.753 26.753 0 01-7.702 2.109 13.445 13.445 0 005.897-7.417 26.843 26.843 0 01-8.515 3.253 13.396 13.396 0 00-9.79-4.233c-7.404 0-13.409 6.005-13.409 13.409 0 1.051.119 2.074.349 3.056-11.144-.559-21.025-5.897-27.639-14.012a13.351 13.351 0 00-1.816 6.742c0 4.651 2.369 8.757 5.965 11.161a13.314 13.314 0 01-6.073-1.679l-.001.17c0 6.497 4.624 11.916 10.757 13.147a13.362 13.362 0 01-3.532.471c-.866 0-1.705-.083-2.523-.239 1.706 5.326 6.657 9.203 12.526 9.312a26.904 26.904 0 01-16.655 5.74c-1.08 0-2.15-.063-3.197-.188a37.929 37.929 0 0020.553 6.025c24.664 0 38.152-20.432 38.152-38.153 0-.581-.013-1.16-.039-1.734a27.192 27.192 0 006.692-6.94z"/></svg> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112.197 112.197" style="enable-background:new 0 0 112.197 112.197"><circle class="circ-path" cx="56.099" cy="56.098" r="56.098"/><path d="M90.461 40.316a26.753 26.753 0 01-7.702 2.109 13.445 13.445 0 005.897-7.417 26.843 26.843 0 01-8.515 3.253 13.396 13.396 0 00-9.79-4.233c-7.404 0-13.409 6.005-13.409 13.409 0 1.051.119 2.074.349 3.056-11.144-.559-21.025-5.897-27.639-14.012a13.351 13.351 0 00-1.816 6.742c0 4.651 2.369 8.757 5.965 11.161a13.314 13.314 0 01-6.073-1.679l-.001.17c0 6.497 4.624 11.916 10.757 13.147a13.362 13.362 0 01-3.532.471c-.866 0-1.705-.083-2.523-.239 1.706 5.326 6.657 9.203 12.526 9.312a26.904 26.904 0 01-16.655 5.74c-1.08 0-2.15-.063-3.197-.188a37.929 37.929 0 0020.553 6.025c24.664 0 38.152-20.432 38.152-38.153 0-.581-.013-1.16-.039-1.734a27.192 27.192 0 006.692-6.94z"/></svg> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112.197 112.197" style="enable-background:new 0 0 112.197 112.197"><circle class="circ-path" cx="56.099" cy="56.098" r="56.098"/><path d="M90.461 40.316a26.753 26.753 0 01-7.702 2.109 13.445 13.445 0 005.897-7.417 26.843 26.843 0 01-8.515 3.253 13.396 13.396 0 00-9.79-4.233c-7.404 0-13.409 6.005-13.409 13.409 0 1.051.119 2.074.349 3.056-11.144-.559-21.025-5.897-27.639-14.012a13.351 13.351 0 00-1.816 6.742c0 4.651 2.369 8.757 5.965 11.161a13.314 13.314 0 01-6.073-1.679l-.001.17c0 6.497 4.624 11.916 10.757 13.147a13.362 13.362 0 01-3.532.471c-.866 0-1.705-.083-2.523-.239 1.706 5.326 6.657 9.203 12.526 9.312a26.904 26.904 0 01-16.655 5.74c-1.08 0-2.15-.063-3.197-.188a37.929 37.929 0 0020.553 6.025c24.664 0 38.152-20.432 38.152-38.153 0-.581-.013-1.16-.039-1.734a27.192 27.192 0 006.692-6.94z"/></svg> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112.197 112.197" style="enable-background:new 0 0 112.197 112.197"><circle class="circ-path" cx="56.099" cy="56.098" r="56.098"/><path d="M90.461 40.316a26.753 26.753 0 01-7.702 2.109 13.445 13.445 0 005.897-7.417 26.843 26.843 0 01-8.515 3.253 13.396 13.396 0 00-9.79-4.233c-7.404 0-13.409 6.005-13.409 13.409 0 1.051.119 2.074.349 3.056-11.144-.559-21.025-5.897-27.639-14.012a13.351 13.351 0 00-1.816 6.742c0 4.651 2.369 8.757 5.965 11.161a13.314 13.314 0 01-6.073-1.679l-.001.17c0 6.497 4.624 11.916 10.757 13.147a13.362 13.362 0 01-3.532.471c-.866 0-1.705-.083-2.523-.239 1.706 5.326 6.657 9.203 12.526 9.312a26.904 26.904 0 01-16.655 5.74c-1.08 0-2.15-.063-3.197-.188a37.929 37.929 0 0020.553 6.025c24.664 0 38.152-20.432 38.152-38.153 0-.581-.013-1.16-.039-1.734a27.192 27.192 0 006.692-6.94z"/></svg> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112.197 112.197" style="enable-background:new 0 0 112.197 112.197"><circle class="circ-path" cx="56.099" cy="56.098" r="56.098"/><path d="M90.461 40.316a26.753 26.753 0 01-7.702 2.109 13.445 13.445 0 005.897-7.417 26.843 26.843 0 01-8.515 3.253 13.396 13.396 0 00-9.79-4.233c-7.404 0-13.409 6.005-13.409 13.409 0 1.051.119 2.074.349 3.056-11.144-.559-21.025-5.897-27.639-14.012a13.351 13.351 0 00-1.816 6.742c0 4.651 2.369 8.757 5.965 11.161a13.314 13.314 0 01-6.073-1.679l-.001.17c0 6.497 4.624 11.916 10.757 13.147a13.362 13.362 0 01-3.532.471c-.866 0-1.705-.083-2.523-.239 1.706 5.326 6.657 9.203 12.526 9.312a26.904 26.904 0 01-16.655 5.74c-1.08 0-2.15-.063-3.197-.188a37.929 37.929 0 0020.553 6.025c24.664 0 38.152-20.432 38.152-38.153 0-.581-.013-1.16-.039-1.734a27.192 27.192 0 006.692-6.94z"/></svg></div></a><a href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ article.url }}" target="_blank"> 
              <div class="move"><svg width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112.196 112.196" style="enable-background:new 0 0 112.196 112.196"><circle class="circ-path" cx="56.098" cy="56.098" r="56.098"/><path d="M70.201 58.294h-10.01v36.672H45.025V58.294h-7.213V45.406h7.213v-8.34c0-5.964 2.833-15.303 15.301-15.303l11.234.047v12.51h-8.151c-1.337 0-3.217.668-3.217 3.513v7.585h11.334l-1.325 12.876z"/></svg> <svg width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112.196 112.196" style="enable-background:new 0 0 112.196 112.196"><circle class="circ-path" cx="56.098" cy="56.098" r="56.098"/><path d="M70.201 58.294h-10.01v36.672H45.025V58.294h-7.213V45.406h7.213v-8.34c0-5.964 2.833-15.303 15.301-15.303l11.234.047v12.51h-8.151c-1.337 0-3.217.668-3.217 3.513v7.585h11.334l-1.325 12.876z"/></svg> <svg width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112.196 112.196" style="enable-background:new 0 0 112.196 112.196"><circle class="circ-path" cx="56.098" cy="56.098" r="56.098"/><path d="M70.201 58.294h-10.01v36.672H45.025V58.294h-7.213V45.406h7.213v-8.34c0-5.964 2.833-15.303 15.301-15.303l11.234.047v12.51h-8.151c-1.337 0-3.217.668-3.217 3.513v7.585h11.334l-1.325 12.876z"/></svg> <svg width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112.196 112.196" style="enable-background:new 0 0 112.196 112.196"><circle class="circ-path" cx="56.098" cy="56.098" r="56.098"/><path d="M70.201 58.294h-10.01v36.672H45.025V58.294h-7.213V45.406h7.213v-8.34c0-5.964 2.833-15.303 15.301-15.303l11.234.047v12.51h-8.151c-1.337 0-3.217.668-3.217 3.513v7.585h11.334l-1.325 12.876z"/></svg> <svg width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112.196 112.196" style="enable-background:new 0 0 112.196 112.196"><circle class="circ-path" cx="56.098" cy="56.098" r="56.098"/><path d="M70.201 58.294h-10.01v36.672H45.025V58.294h-7.213V45.406h7.213v-8.34c0-5.964 2.833-15.303 15.301-15.303l11.234.047v12.51h-8.151c-1.337 0-3.217.668-3.217 3.513v7.585h11.334l-1.325 12.876z"/></svg> <svg width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112.196 112.196" style="enable-background:new 0 0 112.196 112.196"><circle class="circ-path" cx="56.098" cy="56.098" r="56.098"/><path d="M70.201 58.294h-10.01v36.672H45.025V58.294h-7.213V45.406h7.213v-8.34c0-5.964 2.833-15.303 15.301-15.303l11.234.047v12.51h-8.151c-1.337 0-3.217.668-3.217 3.513v7.585h11.334l-1.325 12.876z"/></svg> <svg width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112.196 112.196" style="enable-background:new 0 0 112.196 112.196"><circle class="circ-path" cx="56.098" cy="56.098" r="56.098"/><path d="M70.201 58.294h-10.01v36.672H45.025V58.294h-7.213V45.406h7.213v-8.34c0-5.964 2.833-15.303 15.301-15.303l11.234.047v12.51h-8.151c-1.337 0-3.217.668-3.217 3.513v7.585h11.334l-1.325 12.876z"/></svg> <svg width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112.196 112.196" style="enable-background:new 0 0 112.196 112.196"><circle class="circ-path" cx="56.098" cy="56.098" r="56.098"/><path d="M70.201 58.294h-10.01v36.672H45.025V58.294h-7.213V45.406h7.213v-8.34c0-5.964 2.833-15.303 15.301-15.303l11.234.047v12.51h-8.151c-1.337 0-3.217.668-3.217 3.513v7.585h11.334l-1.325 12.876z"/></svg></div></a>
          </div>
        </li>
      </ul>
      <div class="header-article__img"><img class="img-load" src="{{ article.image.src | img_url: 'master' }}" alt="{{ article.title }}"></div>
    </div>
  </header>
  <main class="main-article">
    <div class="main-article__hold e-hold">  {% if fields.full_image != blank %}
      <section class="full-width-img"> 
        <ul class="full-width-img__imgs">
             {% for multi_images in fields.full_image %} 
            {% for image in multi_images %} 
          <li class="full-width-img__imgs__each"> <img class="img-load" src="{{ image.src }}" alt="{{ image.alt }}"></li>  {% endfor %}
            {% endfor %}
        </ul>
      </section>  {% endif %}
        {% if fields.heading_1 != blank %}
      <section class="title-text1">
        <div class="heading">{{ fields.heading_1 }}</div>
        <div class="parag">{{ fields.parag1 }}</div>
      </section>  {% endif %}
        {% if fields.imgs_side1 != blank %}
      <section class="side-side e-flex">
        <div class="side-side__1"><img class="img-load" src="{{ fields.imgs_side1[0].src }}" alt="{{ image.alt }}"></div>
        <div class="side-side__2"><img class="img-load" src="{{ fields.imgs_side2[0].src }}" alt="{{ image.alt }}"></div>
      </section>  {% endif %}
        {% if fields.heading_2 != blank %}
      <section class="title-text2">
        <div class="heading">{{ fields.heading_2 }}</div>
        <div class="parag">{{ fields.parag2 }}</div>
      </section>  {% endif %}
        {% if fields.heading_3 != blank %}
      <section class="title-text3">
        <div class="heading">{{ fields.heading_3 }}</div>
        <div class="parag">{{ fields.parag3 }}</div>
      </section>  {% endif %}
        {% if fields.imgs_text_left != blank %}
      <section class="img-text">
        <div class="img-text__img"><img class="img-load" src="{{ fields.imgs_text_left[0].src }}" alt="{{ image.alt }}"></div>
        <div class="img-text__text">
          <div class="heading">{{ fields.image_text_heading }}</div>
          <div class="parag">{{ fields.image_text_parag }}</div>
        </div>
      </section>  {% endif %}
        {% if fields.imgs_text_right != blank %}
      <section class="img-text img-text-right">
        <div class="img-text__img"><img class="img-load" src="{{ fields.imgs_text_right[0].src }}" alt="{{ image.alt }}"></div>
        <div class="img-text__text">
          <div class="heading">{{ fields.image_text_heading_right }}</div>
          <div class="parag">{{ fields.image_text_parag_right }}</div>
        </div>
      </section>  {% endif %}
        {% if fields.quote != blank %}
      <section class="quote">
        <div class="quote recosemi">{{ fields.quote }}</div>
        <div class="quote-author">{{ fields.quote_author }}</div>
      </section>  {% endif %}
        {% if fields.embed != blank %}
      <section class="embed"> 
        <ul class="embed__ifram">  {% for iframe in fields.embed %} 
          <li class="embed__ifram__each"> {{ iframe }}</li>  {% endfor %}
        </ul>
      </section>  {% endif %}
    </div>  {% section 'article-products' %}
      {% section 'art-blog' %}
  </main>{% render  'myfooter' %}
</div>