
<div class="page page-collection e-rel" data-ispage="collection" data-scroll-content>  {% section 'filter-prod' %}
  <header class="header-coll"> 
    <div class="header-coll__hold">
      <div class="header-coll__bread no-mobile">{% render 'breadcrumbs' %}</div>
      <div class="header-coll__btn-filter no-desk">
        <button>FILTERS</button>
      </div>
      <div class="header-coll__btn-filter no-mobile">
        <button class="btn-hover trg-filter"><span class="static">SHOW FILTERS</span><span class="hover" data-hover="SHOW FILTERS      SHOW FILTERS      ">SHOW FILTERS      SHOW FILTERS      </span></button>
      </div>
      <div class="header-coll__sort-by"><span class="no-mobile">Sort by:  </span>
        <select id="SortBy" name="SortBy">
            {% for option in collection.sort_options %}<option value="{{ option.value }}" {% if option.value == collection.sort_by %}selected{% endif %}>{{ option.name }}</option>        {% endfor %}</select>
      </div>
      <div class="header-coll__qty e-flex-col">
        <div class="header-coll__name">{{ collection.title }}</div><span class="e-upper recosemi">{{ collection.products_count }} PRODUCTS</span>
      </div>
    </div>
  </header>
  <main class="main-collection">{% paginate collection.products by 18 %}
    <section class="products">
      <div class="products__hold colle-cards">
          {% for product in collection.products %}
          {% render 'product-card' prod: product %}
          {% else %}
        <p>No products in this collection</p>  {% endfor %}
      </div>{% if paginate.pages > 1 %}
      <div class="colle__paginate" data-currentpage="{{ paginate.current_page }}">
        <div class="colle__paginate__hold e-hold">{%- for part in paginate.parts -%}
          <div class="colle__paginate__each"><a href="{{ part.url }}">{%- if part.title == paginate.current_page -%}
              <button class="t-black"> {{ part.title }}</button>{%- else -%}
              <button> {{ part.title }}</button>{%- endif -%}</a></div>{%- endfor -%}
        </div>
      </div>{% endif %}
    </section>  {% endpaginate %}
  </main>{% render  'myfooter' %}
</div>