
<div class="page page-collection" data-ispage="collection" data-scroll-content>
  <header class="header-coll"> 
    <div class="header-coll__hold e-hold">
      <div class="header-coll__bread no-mobile">{% render 'breadcrumbs' %}</div>
      <div class="header-coll__qty"><span class="no-mobile">Results | </span><span class="e-upper recosemi">{{ collection.products_count }} PRODUCTS</span></div>
      <div class="header-coll__btn-filter no-desk">
        <button class="btn-hover trg-filter"><span class="static">FILTERS</span><span class="hover" data-hover="FILTERS      FILTERS      ">FILTERS      FILTERS      </span></button>
      </div>
      <div class="header-coll__btn-filter no-mobile">
        <button class="btn-hover trg-filter"><span class="static">SHOW FILTERS</span><span class="hover" data-hover="SHOW FILTERS      SHOW FILTERS      ">SHOW FILTERS      SHOW FILTERS      </span></button>
      </div>
      <div class="header-coll__sort-by"><span class="no-mobile">Sort by:  </span>
        <select id="SortBy" name="SortBy">
            {% for option in collection.sort_options %}<option value="{{ option.value }}" {% if option.value == collection.sort_by %}selected{% endif %}>{{ option.name }}</option>        {% endfor %}</select>
      </div>
    </div>
  </header>
  <main class="main-collection">{% paginate collection.products by 18 %}
    <section class="products">
      <div class="products__hold colle-cards">
          {% for product in collection.products %}
          {% render 'product-card' prod: product %}
          {% else %}
        <p>No products in this collection</p>  {% endfor %}
      </div>
      <div class="colle__paginate">
        <div class="colle__paginate__hold e-hold">
          {% if paginate.pages > 1 %}
          {%- for part in paginate.parts -%}
          <div class="colle__paginate__each"><a href="{{ part.url }}">
              <button class="e-serif t-dark e-rel e-curp"> {{ part.title }}
                <div class="line-pagine line-static e-gray e-abs e-wp"></div>{%- if part.title == paginate.current_page -%}
                <div class="line-pagine line-active e-color e-abs e-wp"></div>{%- endif -%}
              </button></a></div>{%- endfor -%}
          {% endif %}
        </div>
      </div>
    </section>  {% endpaginate %}
  </main>{% render  'myfooter' %}
</div>