
{% assign description = product.description %}
{% assign details = '' %}
{% assign shipping = '' %}
{% assign descr = '' %}
{% if product.description contains '---' %}
{% assign description = product.description | split: '---' | first %}
{% assign description_array = product.description | split: '---' %}
{% assign productInfoKeys = 'Details|Shipping|Description' | split: '|' %}
  {% for key in productInfoKeys %}
  {% assign split_key = key | prepend: '~*~' | append: '~*~' %}
      {% if product.description contains split_key %}
          {% if key == 'Details' %}
              {% assign details = product.description | split: split_key | last | split: '---' | first %}
          {% elsif key == 'Shipping' %}
              {% assign shipping = product.description | split: split_key | last | split: '---' | first %}
          {% elsif key == 'Description' %}
              {% assign descr = product.description | split: split_key | last | split: '---' | first %}
          {% endif %}
      {% endif %}
  {% endfor %}
{% endif %}
  {% assign fields = product.metafields %}
<div class="page page-product {% if product.metafields.drop.drop_month %}dropsoon-product{% endif %}" data-barba="container" data-barba-namespace="product" data-ispage="product" data-scroll-content>
  <header class="header-prod">
    <div class="header-prod__bread">  {% render 'breadcrumbs' %}</div>
    <div class="header-prod__hold">
      <div class="header-prod__thumbs">
        <div class="header-prod__thumbs__travel">  {% for image in product.images %}
          <div class="header-prod__thumbs__each"><img class="img-load" src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}"></div>  {% endfor %}
        </div>
      </div>
      <div class="header-prod__gallery">
        <div class="header-prod__gallery__travel">  {% for image in product.images %}
          <div class="header-prod__gallery__each"><img class="img-load" src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}"></div>  {% endfor %}
        </div>
      </div>
      <div class="header-prod__infos">
        <h1 class="header-prod__title dharmaex e-upper">{{ product.title }}  </h1>{% if product.compare_at_price_max != 0 %}<span class="sale-price">{{ product.compare_at_price_max  | money  }}</span>{% endif %}
        <div class="regular-price">{{ product.price | money }}</div>  {% if product.compare_at_price_max > product.price %}
              {{ product.compare_at_price_min | minus: product.price | times: 100.0 |  divided_by: product.compare_at_price_min | money_without_currency | times: 100 | replace: '.0', ''}}
          {% endif %}
          {% render 'add-to-cart' %}
        <div class="prod-descr">
          <div class="prod-descr__content">{{ fields.descr.description }} </div>
          <div class="ctn-accord">
            <div class="ctn-accord__item">
              <div class="trg-acc e-curp">
                <div class="svg-arrow"></div>
                <h5 class="click">DETAILS</h5>
              </div>
              <div class="hold-content">{{ fields.descr.details }}</div>
            </div>
          </div>
          <div class="ctn-accord">
            <div class="ctn-accord__item">
              <div class="trg-acc e-curp">
                <div class="svg-arrow"></div>
                <h5 class="click">Shipping / Returns</h5>
              </div>
              <div class="hold-content">{{ fields.descr.shipping }} </div>
            </div>
          </div>  {% if product.metafields.drop.drop_month %}
            {% assign drop_day = product.metafields.drop.drop_day %}
            {% assign drop_month = product.metafields.drop.drop_month %}
            {% assign drop_hour = product.metafields.drop.drop_hour %}
          <div class="countdown" data-day="{{ drop_day }}" data-month="{{ drop_month }}" data-hour="{{ drop_hour }}">
            <ul class="countdown__hold">
              <li class="countdown__numbers"><span class="countdown__days">00</span><span class="countdown__hours">00</span><span class="countdown__mins">00</span><span class="countdown__secs">00</span></li>
              <li class="countdown__infos"><span class="infos__days">DAYS</span><span class="infos__hours">HOURS</span><span class="infos__mins">MINS</span><span class="infos__secs">SECS</span></li>
            </ul>
          </div>  {% endif %}
        </div>
      </div>
    </div>
  </header>
  <main class="main-prod">
    <section class="may-also"><span class="dharma">RECOMMENDED</span>  {% render 'cross-sell' %}</section>  {% section 'index-blog' %}
  </main>{% render  'myfooter' %}
</div>